#page
	padding: 5px 10px 10px 10px

h1
	font-size: 20px
	border-bottom: 1px solid #bdbdbd
	line-height: 30px
	padding: 5px 0px 6px 5px
	margin: 5px 0 5px 0

#page_stats_box
	margin-top: 30px

#star-ratings-box
	margin-top: 15px
	float: left
	text-align: center



#average-rating-box
	float: left
	text-align: center
	margin-left: 5px

#average-rating
	display: inline-block
	width: 30px
	height: 30px
	padding: 10px
	background: #ff7c0b
	color: #fff
	font-weight: bold
	font-size: 25px
	line-height: 30px
	text-align: center
	+border-radius(30px)

#average-rating-text
	font-size: 10px
	padding-left: 7px

.average-info
	font-size: 10px
