form(name="create-message-form").form-horizontal
	.control-group
		label.control-label Create new message:
		.controls
			textarea(name="message")
			button.btn.btn-info(type="button", name="submit-message") Send
