each downloadorder in downloadorders
	.message
		.image-do
			if (downloadorder.completed == "FALSE")
				img.icon( src="img/wait.png", title="Waiting")
			else 
				img.icon( src="img/yes.png", title="Waiting")
		.delete
			img.icon( src="img/no.png", data-id="#{downloadorder.id}",name="deleteDO", title="Delete")
		.name
			- var uri = downloadorder.absolute_uri
			- var cleanuri = uri.split("http://")
			a(href="#{downloadorder.absolute_uri}", target="_blank") #{cleanuri[1]}
		.created
			label created #{new Date(downloadorder.date).toLocaleString()}