each downloadorder in downloadorders
	.message
		.image-do
			if (downloadorder.completed == "FALSE")
				img.icon( src="img/wait.png", title="Waiting")
			else 
				img.icon( src="img/yes.png", title="Waiting")
		.delete
			img.icon( src="img/no.png", data-id="#{downloadorder.id}",name="deleteDO", title="Delete")
		.name
			a(href="#{downloadorder.absolute_uri}", target="_blank") #{downloadorder.absolute_uri}
		.created
			label created #{new Date(downloadorder.date).toLocaleString()}