.row
	.span6.offset3

		.row
			.span6.center
				img( src="img/ownet.png" )

		.row
			.span6
				a( href="#/groups",data-filter="all",name="filter") All
			.span6
				a( href="#/creategroups",data-filter="admin",name="filter") I am admin in
			.span6
				a( href="#/creategroups",data-filter="my",name="filter") I am member
			.span6
				a( href="#/creategroups", data-filter="wait", name="filter") I am waiting
			.span6
				a( href="#/creategroups", data-filter="notMy", name="filter") Other
			.span6
				a( href="#/creategroups" ,name="create") Create new
			.span#groups_list
			.span#pager
