.row
	.span6.offset3

		.row
			.span6.center
				img( src="img/ownet.png" )

		.row
			.span6
				a( href="#/creategroups" name="create") All
			.span6
				a( href="#/creategroups" name="create") I am admin in
			.span6
				a( href="#/creategroups" name="create") I am member
			.span6
				a( href="#/creategroups" name="create") Other
			.span6
				a( href="#/creategroups" name="create") Create new
			.span#groups_list