.row
	.span6.offset3

		.row
			.span6.center
				img( src="img/ownet.png" )

		.row
			.span6
				a( href="#/groups" data-filter="all" name="all") All
			.span6
				a( href="#/creategroups" data-filter="admin" name="all") I am admin in
			.span6
				a( href="#/creategroups" data-filter="my" name="all") I am member
			.span6
				a( href="#/creategroups" data-filter="notMy" name="all") Other
			.span6
				a( href="#/creategroups" name="create") Create new
			.span#groups_list