.row
	.span6.offset3

		.row
			.span6.center
				img( src="img/ownet.png" )

		.row
			.span6
				form(name="login-form").form-horizontal

					.control-group
						label.control-label Login:
						.controls
							input(type="text",name="login")
							span.help-block

					.control-group
						label.control-label Password:
						.controls
							input(type="password",name="password")
							span.help-block

					.control-group
						.controls
							button#login.btn.btn-info(type="button",name="submit") Log In
