.row
span You Have
.row
span Sent #{user.count_of_messages} messages
.row
span Rated #{user.count_of_ratings} pages
.row
span Recommended #{user.count_of_recommendations} pages
.row
a( href="#/editprofile",data-id="#{user.id}",name="editprofile") Edit Profile
.row
a( href="#/showdownloadorders",name="showDownloadOrders") Download Orders