ul.nav.nav-pills.nav-stacked
	li
		a( href="#/recommendations", data-filter="all",name="allRecommendations") All Recommendations
	li
		a( href="#/recommendations",data-filter="my",name="myRecommendations") My Recommendations