each message, index in messages
	.row
		.span1
			label #{message.first_name} #{message.last_name}
		.span2
			label #{message.message}
		.span3
			label created #{new Date(message.date_created).toLocaleDateString()}