.left.messages-left
	.span6.title
		img( src="img/ownet.png" )
	.links
		.link
			| <a href="#/" name="messages"> <img src="img/message.png" class="icon"> Messages </a>
.right
	.span#create_message

	.span#messages_list

.span#pager