.left.messages-left
	.span6.title
		img( src="img/ownet.png" )
	.links
		.link
			a(href="#/", name="messages")
				img(src="img/message.png", class="icon") 
				label Messages 
.right.messages-right
	.create-message#create_message

	.list-message#messages_list

.span#pager