.pager
	if(pages>1)
		- for (var page=1; page<=pages; page++)
			if (current == page)
				div.page.act-page
					a.act-page(href="#", data-page=page) #{page}
			else
				div.page
					a( href="#", data-page=page) #{page}
