.links 
	.link
		img(src="img/message.png", class="icon") 
		label sent #{user.count_of_messages} messages
	.link
		img(src="img/star1.png", class="icon") 
		label rated #{user.count_of_ratings} pages
	.link
		img(src="img/recommend.png", class="icon") 
		label recommended #{user.count_of_recommendations} pages
