.left.profile-left
	.span6.title
		if (user.gender == "Female")
			img( src="img/girl.png" )
		else
			img( src="img/boy.png" )
		if (current == true)
			.title-desc You have
		else
			if (user.gender == "Female")
				.title-desc She has
			else
				.title-desc He has
	#stats
	if (current)
		.links.links-second
			.link
				a( href="#/profile/edit")
					img(src="img/edit.png", class="icon")
					label Edit profile
			.link
				a( href="#/profile/showdownloadorders")
					img(src="img/download.png", class="icon")
					label Download orders

.right.profile-right
	#profile-info
	#profile
	#activities
	#newsfeed_list.list-message
.span#pager
