each activity in activities
	.row
		if (activity.type == 1)
			.span1
				- var array = activity.content
				- var content = array.split(";")
				label #{content[0]}
			.span5
				label #{content[1]}
			.span2
			.offset
				label #{new Date(activity.date_created).toLocaleDateString()}
			.span4
				label #{activity.user_name}
			.span4
				label Rating
