.left.ratings-left
	.span6.title
		img( src="img/star1.png" )
		label Ratings
	.links
		.link
			a( href="#/ratings",data-filter="all",name="allRatings") 
				img(src="img/stars.png", class="icon") 
				label All ratings
		.link
			a( href="#/ratings",data-filter="my",name="myRatings") 
				img(src="img/star1.png", class="icon") 
				label My ratings
.right.ratings-right
	.span10#ratings
.row
	.span#pager