each activity in activities
	.row.offset1
		if (activity.type == 1)
			.span2
				- var array = activity.content
				- var content = array.split(";")
				label #{content[0]}
			.span2
				label #{content[1]}
			.span2
				label #{new Date(activity.date_created).toLocaleDateString()}
			.span2
				label #{activity.user_name}
			.span1
				label Rating
