.row
	.span6.offset3

		.row
			.span6.center
				img( src="img/ownet.png" )

		.row
			.span
				a( href="#/ratings",data-filter="my",name="myRatings") My Ratings
				a( href="#/ratings",data-filter="all",name="allRatings") All

		.row
			.span6.center
			.span#ratings
			.span#pager