.row
	.span12.center
			img( src="img/ownet.png" )
	.row
		.span12.center
			a( href="#/ratings",data-filter="my",name="myRatings") My Ratings
		.span12.center
			a( href="#/ratings",data-filter="all",name="allRatings") All Ratings
	.row
		.span6.center
		.span#ratings
		.span#pager