.row
	.span6.offset3

		.row
			.span6.center
				img( src="img/ownet.png" )

		.row
			.span
				a( href="#/recommendations",data-filter="my",name="myRecommendations") My Recommendations
			.span
				a( href="#/recommendations", data-filter="all",name="allRecommendations") All
		.row
			.span6.center
			.span#recommendations
			.span#ratings
			.span#pager