each activity in activities
	.row.offset1
		.span2
			- var array = activity.content
			- var content = array.split(";")
			span #{content[0]}
		.span2
			span #{content[1]}
		.span2
			span #{new Date(activity.date_created).toLocaleDateString()}
		.span2
			span #{activity.user_name}
		.span1
			span Recommendation
