.row
	.span12.center
			img( src="img/ownet.png" )
	.row
		.span12.center
			a( href="#/recommendations",data-filter="my",name="myRecommendations") My Recommendations
		.span12.center
			a( href="#/recommendations", data-filter="all",name="allRecommendations") All Recommendations
	.row
		.span#recommendations
		.span#ratings
	.row
		.span#pager