
.row
	.span6.offset3

		.row
			.span6.center
				img( src="img/ownet.png" )

		.row
			.span6
				form(name="registration-form").form-horizontal

					.control-group
						label.control-label Login:
						.controls
							input(type="text",name="login", required)
							span.help-block

					.control-group
						label.control-label Password:
						.controls
							input(type="password",name="password", required)
							span.help-block

					.control-group
						label.control-label Name:
						.controls
							input(type="text",name="first_name", required)
							span.help-block

					.control-group
						label.control-label Last Name:
						.controls
							input(type="text",name="last_name", required)
							span.help-block

					.control-group
						label.control-label Email:
						.controls
							input(type="email ",name="email", required)
							span.help-block
					.control-group
						label.control-label Gender:
						label.radio.offset3
							input(type="radio",name="gender",value="Male",checked)
							|Male
						label.radio.offset3
							input(type="radio",name="gender",value="Female")
							|Female
					.control-group
						label.control-label Birthday:
						.controls
							input(type="date",name="date_of_birth", required)
							span.help-block
					.control-group
						label.control-label School:
						.controls
							input(type="text",name="school", required)
							span.help-block
					.control-group
						.controls
							button.btn.btn-info(type="button",name="submit") Sign Up


