.row
		.span1
			label #{group[0].name}
		.span2
			label #{group[0].description}
		.span2
			a( href="#" data-id="#{group[0].id}" name="edit") Edit group
		.span2
			a( href="#" data-id="#{group[0].id}" name="delete") Delete group

.row
	.span1
			a( href="#/groups" name="back") Go back