form(name="file-upload-form",method='post',enctype='multipart/form-data').form-horizontal
	.control-group
		label.control-label Create new message:
		.controls
			input(type="file",name="selectfile",id="upload-box")
			button.btn.btn-info(type="button",name="upload-file") Send