form(name="file-upload-form",enctype="multipart/form-data",method="post",action="http://my.ownet/api/files").form-horizontal
	.control-group
		label.control-label Create new message:
		.controls
			input(type="file",name="selectfile",id="upload-box")
			button.btn.btn-info(type="button", name="upload-file") Send