if (user)
	li: a( href="#/profile") #{user.first_name} #{user.last_name}
	li.divider-vertical
	li: a( href="#/logout") Logout
else
	li: a( href="#/login") Login
	li.divider-vertical
	li: a( href="#/registration") Register