if (user)
	#appmenu.navbar
		.navbar-inner
			.inner
				a.brand( href="#" )
					img(src="img/ownet-navbar.png")
				ul.nav
					li.divider-vertical
					li: a( href="#/users" ) Users
					li.divider-vertical
					li: a( href="#/groups" ) Groups
					li.divider-vertical
					li: a( href="#/files" ) Files
					li.divider-vertical
				ul.nav.pull-right
					li: a( href="#/profile") #{user.first_name} #{user.last_name}
					li.divider-vertical
					li: a( href="#/logout") Logout
else
	#appmenu.navbar
		.navbar-inner
			.inner
				ul.nav.pull-right
					li: a( href="#/login") Login
					li.divider-vertical
					li: a( href="#/registration") Register
