!!! 5
html(lang='en')
	head
		title my.ownet
		meta( http-equiv='cache-control',content='no-cache' )
		meta( http-equiv='Content-Type',content='text/html; charset=utf-8' )

		if ( debug )
			link( rel='stylesheet',href='css/style.css',type='text/css' )
			script(src="http://share.ownet/lib/require.js",data-main="config.js")
		else
			script( src='js/app.min.js',type='text/javascript' )
			link( rel='stylesheet',href='css/style.min.css',type='text/css' )

	body
		include navbar

		#page
			.row
				.span10.offset1
					#messages

			#content
				#login
				#registration
				#profile
				#newsfeed
				#groups
				#group
				.clearfix

			include pagefooter








