#appmenu.navbar
	.navbar-inner
		a.brand( href="#" )
			img(src="img/ownet-navbar.png")
		ul.nav
			li.divider-vertical
			li: a( href="#" ) Live
			li.divider-vertical
			li: a( href="#/ratings" ) Ratings
			li.divider-vertical
			li: a( href="#/recommendations" ) Recommendations
			li.divider-vertical
			li: a( href="#" ) Shared Files
			li.divider-vertical
			li: a( href="#" ) History
			li.divider-vertical
			li: a( href="#/groups" ) Groups
			li.divider-vertical

		ul#user-navbar.nav.pull-right
