#pagefooter
	.left © 2012 OwNet
	.right
		a(href="http://ownet.fiit.stuba.sk/" target="_blank") Info about project
		span.divider |
		a(href="http://ownet.fiit.stuba.sk/use.php" target="_blank") Help
		span.divider |
		a(href="http://ownet.fiit.stuba.sk/contact.php" target="_blank") Contact