.navbar-inner {
	border: none;
	border-bottom: 1px solid @grayLighter;
	height: @navbarHeight;
	.border-bottom-left-radius(0px);
	.border-bottom-right-radius(0px);
}


.navbar ul.nav li {

	&.divider-vertical { margin: 0px; }

	&.active > a,
	&.active > a:hover,
	&.active > a:focus {
		text-shadow: 0px 0px 1px #fff;
		.box-shadow(none);
	}
}


#user-navbar {
	padding-left: 24px;
	background-image: url("../img/a-user.png");
	background-position: left center;
	background-repeat: no-repeat;
}
