html {
	height: 100%;
}

body {
	position:		relative;
	width:			100%;
	min-height:			100%;
	background: 	#e0e0e0;
	padding-top:	@pageTopPadding;
	padding-bottom: @pageBottomPadding;
	float:			left;
	background-repeat: no-repeat;
	background-attachment: fixed;
	.box-sizing(border-box);
	#gradient > .vertical(#f4f4f4, #e0e0e0);
}

#page {
	position:		relative;
	min-height:		100%;
	width:			@pageWidth;
	margin-left:	auto;
	margin-right:	auto;
	background-color: #FBFBFB;
	border:			1px solid @grayLighter;
	.box-sizing(border-box);
	.box-shadow( 0 0px 8px rgba(0,0,0,.085));
	.border-radius(@pageRadius);
}

#pagefooter {
	position:		relative;
	width:			@pageWidth;
	margin-left:	auto;
	margin-right:	auto;
	padding-top:	5px;
	clear: 			both;
	height:			@pageBottomPadding -1px;
	.box-sizing(border-box);

	a {
		color: @textColor;
		padding-left: 5px;
		padding-right: 5px;
	}
}

#content {
	.form-horizontal {
		text-align: left;
	}


	.btn {
		margin-right: 0px;
	}


	.left .icon {
		height: 35px;
		width: auto;
		margin: 3px;
		float: left;
	}


	.right {
		margin-left: 220px;
		margin-right: 50px;
		margin-top: 20px;
		margin-bottom: 20px;
		padding-top: 30px;
		min-height: 550px;
		float: left;
		width: 70%;
		text-align: left;
}
}