!!! 5
html(lang='en')
	head
		meta( http-equiv='cache-control' content='no-cache' )
		meta( http-equiv='Content-Type' content='text/html; charset=utf-8' )

		if ( config.debug )
			link( rel='stylesheet' href='css/style.css' type='text/css' )
			script(src="js/share/lib/require.js" data-main="config.js")
		else
			script( src='js/app.min.js' type='text/javascript' )
			link( rel='stylesheet' href='css/style.min.css' type='text/css' )

	body
		#page
			.tab-content
				#login.tab-pane.active
					include login
				#page-ratings.tab-pane
					include page-ratings
