.row
	.span5
		.row
			.span5.center
				a(href="my.ownet")
					img( src="/img/ownet.png" )

		.row
			.span5
				form(name="login-form").form-horizontal

					.control-group
						label.control-label Login:
						.controls
							input(type="text",name="login", required)
							span.help-block

					.control-group
						label.control-label Password:
						.controls
							input(type="password",name="password", required)
							span.help-block

					.control-group
						.controls
							input.btn(type="submit",name="submit") Log In
